<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Editing {{person.first_name}}'s Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<a href="/">Home</a>
	<span>|</span>
	<a href="/person/{{person.id}}/delete">Delete User</a>
	<hr>
	<div class="errors">
		{% for update_error in update_errors %}
			{{ update_error }}
		{% endfor %}
	</div>
		<h3>Editing {{person.first_name}}</h3>
	<div class="col-lg-1 col-offset-6 centered">
		<form action="/update" method="post">
			{%csrf_token %}
			First Name: <input type="text" name="first_name" value="{{person.first_name}}">
			<br>
			Last Name: <input type="text" name="last_name" value="{{person.last_name}}">
			<br>
			Zip Code: <input type="text" name="zip" value="{{person.zip_code}}">
			<br>
			City: <input type="text" name="city" value="{{person.city}}">
			<input type="hidden" name="id" value="{{person.id}}">
			<br>
			<br>
			<input type="submit" value="Update" class="btn btn-primary">
		</form>
	</div>
	</div>
</body>
</html>